<h1>New Entry</h1>
  <p>
    <%=form.label "title", "Entry Title" %>
    <%= form.text_field "title" %>

    </p>

    <p>
    <% = form.label "description", "Description"%>
    <%= FORM.text_field "description" %>

    <p>
    <%= form.label "posted_on", "Posted On" %>
    <%= form.text_field "description" %>

    </p>

     <label for="place_id">Place ID </label>
      <input type="hidden" name="place_id" value="<%@entry["place_id"] %>"%>
    <% = form.submit %>
    <% end %>